.DS_Store
.build
Packages
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
DerivedData/
MojiPicker/.swiftpm/configuration/registries.json
MojiPicker/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
