.DS_Store
.build
Packages
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
DerivedData/
.swiftpm/
.netrc
MojiPickerDemo/Configuration/DeveloperSettings.xcconfig